.Gsap_с
   .block
   .box1
      width: 200px
      height: 200px
      background-color: #56f063
   .box2
      width: 200px
      height: 200px
      background-color: #f05656
   .box3
      width: 200px
      height: 200px
      background-color: #5672f0
      cursor: pointer
   .box4
      width: 200px
      height: 200px
      background-color: #bd25a8